<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="Elasticsearch" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">
        <url>${HNP_ES_URL}/_bulk</url>
        <index>hnp-logs</index>
        <type>_doc</type>
        <errorLoggerName>es-error-logger</errorLoggerName>
        <errorsToStderr>true</errorsToStderr>
        <sleepTime>1000</sleepTime>
        <authentication class="com.internetitem.logback.elasticsearch.config.BasicAuthentication"/>
        <properties>
            <property>
                <name>host</name>
                <value>${HOSTNAME}</value>
                <allowEmpty>false</allowEmpty>
            </property>
            <property>
                <name>severity</name>
                <value>%level</value>
            </property>
            <property>
                <name>thread</name>
                <value>%thread</value>
            </property>
            <property>
                <name>stacktrace</name>
                <value>%ex</value>
            </property>
            <property>
                <name>logger</name>
                <value>%logger</value>
            </property>
        </properties>
        <headers>
            <header>
                <name>Content-Type</name>
                <value>application/json</value>
            </header>
        </headers>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="Elasticsearch"/>
    </root>

    <logger name="es-error-logger" level="INFO" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

</configuration>